
$blackTitle: #141414;
$grayText: #888888 ;
$lightBlue: #82bdf7 ;
$darkBlue: #286dac ;
$contentBG: #efeded ;

@import 'https://fonts.googleapis.com/css?family=Heebo:300,400,700,900';


@import "compass/css3";

/*@include font-face("Heebo",
        font-files("Heebo-Regular.ttf"

        ));*/


body{
  overflow-x: hidden;
  overflow-y: scroll;
}



/*@include font-face("Heebo-Bold",
        font-files("Heebo-Bold.ttf"));

@include font-face("Heebo-Black",
font-files("Heebo-Black.ttf"));

@include font-face("Heebo-Light",
font-files("Heebo-Light.ttf"));*/



$fontFamily: "Heebo",Helvetica, sans-serif;





//header-----------------------------------------------------------------

.top-bar {
  background-color: #286dac;
  color: white;
  height: 6rem;
  width:100%;

}

.top-bar-right{
  padding-top:.5rem;
  padding-left: .5rem;
  float: right;


}

#ioceaLogo{
  height: 3.5rem;
  padding-right: 1rem;
}

#shefiLogo{
  height: 3rem;
  padding-right: 1rem;
}
#top-bar-left, #top-bar-left-hidden{
  float: left;
  text-align: center;
  padding: 0.8rem 0 0 1.5rem;
  font-size: 1.5em;
  color: white;
}
#topText1, #topText1b{
  font-family: $fontFamily;
  font-size:1.2rem;
  color: white;
  }
#topText2, #topText2b{
  font-family: $fontFamily;
  font-size: 1.5rem;
  padding-top: 10px;
  color: white;
}

#telephoneIcon, #telephoneIcon-hidden{
  float: left;
  font-size: 3rem;
  color: white;
}

#top-bar-left-hidden{
  padding-top: 5rem;
}


  .menu a {
    color: $blackTitle;
    text-decoration: none;
  }
  .menu .active a {
    color: white;
    text-decoration: none;
    background-color: $lightBlue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .menu a:hover {
    color: white;
    text-decoration: none;
    background-color: $lightBlue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  #navigation li {
    max-width: 8rem;
  }
  #navigation {

    font-family: $fontFamily;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;

  }
  .top-bar-right > ul > .divider, .top-bar-section > ul > [role="separator"] {
    border-right: solid 1px #bcbcbc;
  }


#navWrapper{
  height: auto;
  vertical-align: middle;
  border-bottom: #efeded solid 4px;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.title-bar{
  background-color: $darkBlue;

}
#hamburger{
  float: left;
  margin-top: .5rem;
}
#ioceaLogo-medium{
  height: 2rem;
}
#shefiLogo-medium{
  height: 2rem;
}

//hero------------------------------------------------------

/*#heroWrapper{
  width: 100%;
  min-height: 37rem;
  height:auto;
}*/

//slide 1------------------
#heroContent{
  padding-top:8rem;
  padding-bottom:2rem;


}
#heroContent p {

    font-family:$fontFamily;
    font-size:1.5rem;
    color: $grayText;
    padding-top: 2rem;
    padding-bottom:2rem;



}

#heroPic1{
  width: 100%;
  height: 500px;

  padding-top: 30rem;
  padding-bottom: 0rem;
  background-image: url(../slice/banner_p_1.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#heroPreSlogan{
  font-family:$fontFamily;
  font-size: 3rem;
  color: $lightBlue;
  font-weight:600;
}
#heroSubSlogan{
  font-family:$fontFamily;
  font-size: 3rem;
  color: $blackTitle;
  font-weight:600;

}



//slide2--------------------------
#heroContent2{
  padding-top:8rem;
  padding-bottom:2rem;


}
#heroContent2 p {

  font-family:$fontFamily;
  font-size:1.5rem;
  color: $grayText;
  padding-top: 2rem;
  padding-bottom:2rem;



}

#heroPic2{
  width: 100%;
  height: 500px;

  padding-top:30rem;
  padding-bottom: 0rem;
  background-image: url(../slice/shutterstock_92397412.jpg);
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#heroPreSlogan2{
  font-family:$fontFamily;
  font-size: 3rem;
  color: $lightBlue;
  font-weight:600;
}
#heroSubSlogan2{
  font-family:$fontFamily;
  font-size: 3rem;
  color: $blackTitle;
  font-weight:600;

}

//slide3------------------
#bigSlide{
  background-image: url("../images/shutterstock_237302122.jpg");
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-background-size:cover ;background-size: cover;
  //padding-top:30%;
  box-shadow:0px 0px 300px 300px rgba(0, 0, 0, 0.30) inset;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  h1{
    font-family: $fontFamily;
    font-size: 3rem;
    color: white;
  }

  p{
    font-family: $fontFamily;
    font-size: 1rem;
    color: white;
  }
  li{
    padding-top: 1rem;
  }


}


//content-------------------------------------------------

#contentWrapper{
  width: 100%;
  height: auto;
  background-color: $contentBG;
}

#articlesWrapper{
  width: 100%;
  height: 25rem;
  padding-top: 1rem;
  padding-bottom: 6rem;
  clear: both;

}



#box1{
  background-image: url("../images/shutterstock_237302122.jpg");
  overflow: hidden;
  width: 100%;
  height: 9rem;
  -webkit-background-size:cover ;background-size: cover;
  //padding-top:30%;
  box-shadow:0px 0px 50px 50px rgba(0, 0, 0, 0.10) inset;
}

#box2{
  background-image: url("../images/shutterstock_257069272.jpg");
  overflow: hidden;
  width: 100%;
  height: 9rem;
  -webkit-background-size:cover ;background-size: cover;
  //padding-top:30%;
  box-shadow:0px 0px 50px 50px rgba(0, 0, 0, 0.10) inset;
}

#box3{
  background-image: url("../images/shutterstock_268450493.jpg");
  overflow: hidden;
  width: 100%;
  height: 9rem;
  -webkit-background-size:cover ;background-size: cover;
  //padding-top:30%;
  box-shadow:0px 0px 50px 50px rgba(0, 0, 0, 0.10) inset;
}



.callout{
  background-color: #fff;}

#articlesWrapper h5{
    font-family:$fontFamily;
    font-size: 1.5rem;
    color:$blackTitle;
    line-height:1.5rem;
    padding-bottom: 1rem;
    font-weight:600;

}

.wrapperBox{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.in{
  font-family:$fontFamily;
  font-size: 1.2rem;
  color:$grayText;
  line-height:1.2rem;
  padding-top: 1.5rem;
  //font-weight:600;
}


//form-------------------------------------------------------------------
#contactForm{
  padding: 1rem 1.5rem .5rem 1.5rem;
  margin:1rem 0 1rem 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6296c9+1,82bdf6+100 */
background: #6296c9; /* Old browsers */
background: -moz-linear-gradient(top,  #6296c9 1%, #82bdf6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #6296c9 1%,#82bdf6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #6296c9 1%,#82bdf6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6296c9', endColorstr='#82bdf6',GradientType=0 ); /* IE6-9 */

h5{
  font-family:$fontFamily;
  color: white;
  font-size: 2rem;
  padding-bottom: 1rem;
}
  #buttonSend{
    font-family:$fontFamily;
    color: white;
    font-size: 1rem;
    width: 8rem;
  }


}

#req{
  font-family:$fontFamily;
  font-size: 1rem;
  color: $blackTitle;
  padding-left: 2.6rem;
}
form  input::-webkit-input-placeholder{
  color:$blackTitle !important;
  font-family:$fontFamily;
  font-size: 1rem;

}

textarea::-webkit-input-placeholder{
  color:$blackTitle !important;
  font-family:$fontFamily;
  font-size: 1rem;

}

//content-----------------------------------------------------------------------

#picturePlaceholder{
  background-image: url(../slice/manPic.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

#h2-Title-1{
  color:$lightBlue;
  font-family:$fontFamily;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 5rem;

}

#h2-Title-2{
  color:$blackTitle;
  font-family:$fontFamily;
  font-size: 3rem;
  font-weight: 600;


}
#p2-para{
  color:$blackTitle;
  font-family:$fontFamily;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 5rem;


}

//footer-----------------------------------------------------------


#logosWrapper{

  width:100%;
  min-height: 6rem;
  max-height: 20rem;
  margin-top: 1rem;
  padding: 2rem 0 2rem 0;
  vertical-align: middle;


}

#footerWrapper{
  width:100%;
  height: auto;
  background-color: #4c4c4c;
  padding: 2rem 0 2rem 0;

}

#logoPartners{
  color:$lightBlue;
  font-family:$fontFamily;
  font-size: 1.7rem;
  font-weight: 600;


  padding-bottom: 3rem;

}


#Ayalon{
  position: relative;
  padding-top: 1rem;
  padding-right: 2rem;


}

#bar{
  padding-top: 1rem;
  padding-right: 2rem;

}

#menuFooter a{
  display: inline-table;
  color: white;
  font-family:$fontFamily;
  font-size: 1rem;

}
#footerCopy{
  display: inline-table;
  color: white;
  font-family:$fontFamily;
  font-size: 1rem;
  line-height: 1.5rem;
}
#closeHidden{
  color: white;

}


//offCanvas---------------------------------------------------------------

#offCanvas{
  background-color: $darkBlue;
  padding-top: 3rem;
  //padding-bottom: 100%;
  padding-right: .5rem;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

}

#vertical menu{width:100%;}
#hiddenSideMenu a{

  position: relative;
  color: white;
  font-family:$fontFamily;
  font-size: 1rem;
}
#hiddenSideMenu li{

  border-bottom: solid 1px #4488cc;
  padding: .2rem 0 .2rem 0;
}

.items{
  padding-right: .5rem;
}

#line{
  border-bottom: #efeded solid 4px;

}

